.promo {
    background-color: $gray95;

    padding: vw(60px) 0 vw(60px) 0;
    
    @media screen and (max-width: 1401px) {
      padding: vwh(60px) 0 vwh(60px) 0;
    }

    @media screen and (max-width: 576px) {
      padding: vwm(60px) 0 vwm(60px) 0;
    }

    &__inner {
        background-color: $gray_black;
        border-radius: vw(4px);
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1401px) {
            border-radius: vwh(4px);
        }

        @media screen and (max-width: 576px) {
            flex-direction: column;
            border-radius: vwm(4px);
        }
    }

    &__content {
        width: vw(600px);
        padding: vw(40px) vw(60px) vw(48px) vw(80px);

        @media screen and (max-width: 1401px) {
            width: vwh(600px);
            padding: vwh(40px) vwh(60px) vwh(48px) vwh(80px);
        }
      
        @media screen and (max-width: 576px) {
            width: 100%;
            padding: vwm(40px) vwm(20px);
        }

    }

    &__title {
        @include h2;
        color: $white;

        margin-bottom: vw(12px);

        @media screen and (max-width: 1401px) {
            margin-bottom: vwh(12px);
        }

        @media screen and (max-width: 576px) {
            margin-bottom: vwm(12px);
        }

        &--colored {
            color: $blue_light;
        }
    }

    &__description {
        @include t2;
        color: $gray95;

        margin-bottom: vw(32px);

        @media screen and (max-width: 1401px) {
            margin-bottom: vwh(32px);
        }

        @media screen and (max-width: 576px) {
            margin-bottom: vwm(32px);
        }
    }
    
    &__form {
        
        &-controls {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: vw(20px);
            margin-bottom: vw(32px);

            @media screen and (max-width: 1401px) {
                margin-bottom: vwh(32px);
                gap: vwh(20px);
            }
    
            @media screen and (max-width: 576px) {
                margin-bottom: vwm(32px);
                grid-template-columns: 1fr;
                gap: vwm(20px);
            }
        }
    
        &-field {

            &-label {
                @include t3;
                color: $white;
                display: inline-block;
                margin-bottom: vw(4px);
        
                @media screen and (max-width: 1401px) {
                  margin-bottom: vwh(4px);
                }
        
                @media screen and (max-width: 576px) {
                  margin-bottom: vwm(4px);
                }
            }
        
            &-input {
                @include input;
            }
        }
    
    
        &-btns {
            display: flex;
            gap: vw(20px);

            @media screen and (max-width: 1401px) {
                gap: vwh(20px);
            }
    
            @media screen and (max-width: 576px) {
                gap: vwm(20px);
                flex-direction: column;
            }
        }
    
        &-btn {
            @include button1;

            height: vw(40px);

            background-color: $white;
            color: $blue_main;
            padding: vw(10px) vw(20px);
            border-radius: vw(4px);

            @media screen and (max-width: 1401px) {
                height: vwh(40px);
                padding: vwh(10px) vwh(20px) vwh(10px) vwh(12px);
                border-radius: vwh(4px);
            }

            @media screen and (max-width: 576px) {
                height: vwm(40px);
                padding: vwm(10px) vwm(20px) vwm(10px) vwm(12px);
                border-radius: vwm(4px);
                width: 100%;
            }
        }
    
        &-privacy {
            cursor: pointer;
            flex: 1;
            display: flex;
            gap: vw(8px);
      
            @media screen and (max-width: 1401px) {
              gap: vwh(8px);
            }
      
            @media screen and (max-width: 576px) {
              gap: vwm(8px);
            }
      
            &-check {
              @include checkbox;
            }
            &-text {
              @include postscript;
              color: $white;
            }
        }
    
    }


    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &-wrapper {
            width: vw(560px);

            @media screen and (max-width: 1401px) {
                width: vwh(560px);
            }

            @media screen and (max-width: 576px) {
                display: none;
            }
        }
    }
}
