// Colors
$white: #ffffff;
$black: #000000;

$blue_main: #306CBF;
$blue_bright: #3983F1;
$blue_light: #6CA2F1;
$blue_dark: #163259;
$blue_white: #B5CDF1;

$gray_black: #102440;
$gray25: #303640;
$gray50: #808080;
$gray95: #F2F2F2;

